<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div *ngFor="let post of posts" class="post-preview">
                <a routerLink="post">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                </a>
                <p class="post-meta">Posted by
                <a routerLink="">Start Bootstrap</a>
                on September 18, 2019</p>
            </div>
            <hr>
            <div class="clearfix">
                <a class="btn btn-primary float-right" routerLink="">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
